*
!/infra
!/src/app
!/src/bootstrap/app.php
!/src/bootstrap/cache/.gitignore
!/src/config
!/src/database
!/src/public/favicon.ico
!/src/public/index.php
!/src/public/robots.txt
!/src/resources/lang
!/src/resources/css
!/src/resources/ts
!/src/resources/views
!/src/routes
!/src/storage/framework/cache/.gitignore
!/src/storage/framework/cache/data/.gitignore
!/src/storage/framework/views/.gitignore
!/src/artisan
!/src/composer.json
!/src/composer.lock
!/src/package.json
!/src/package-lock.json
!/src/tsconfig.json
!/src/vite.config.ts
